* {
  box-sizing: border-box;
}

header {
  height: 80px;
  width: 100%;
  position: relative;
  background-color: green;
}

main, aside {
  height: 900px;
}

aside {
  width: 20%;
  background-color: yellow;
  position: relative;
}

main {
  width: 80%;
  float: right;
}

footer {
  width: 100%;
  height: 80px;
  margin-bottom: 0;
  background-color: orange;
}

/* Nav Styles */
nav {
  height: 100%;
  padding: 15px;
  position: absolute;
  width: 100%;
  background-color: aqua;
}

nav > ul {
  overflow: auto;
  margin: 0;
}

nav > ul > li {
  list-style-type: none;
  display: inline;
}

nav > ul > li:first-child, nav > ul > li:nth-child(2) {
  float: left;
}


nav > ul > li {
  float: right;
  padding: 20px;
  line-height: 10px;
}


/* Aside styles */
aside > h2 {
  margin: 0 auto;
}

aside > div {
  margin: 10px;
  position: absolute;
  width: 90%;
  height: 580px;
  padding: 10px;
}

/* Main styles */
#allImages > ul {
  overflow: auto;
  background-color: azure;
  margin: 0 auto;
  padding: 0;

}

#allImages > ul > li {
  width: 33.33%;
  text-align: center;
  float: left;
  list-style-type: none;
  height: 280px;
}

#allImages > ul > li > img {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  height: 280px;
}

section#canvas {
  width: 550px;
  margin: auto;
}
